<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<app-header></app-header>
<div class="container-fluid">
  <div class="container">
    <div id="css3dimageslider" class="transparency">
      <ul>
        <li> <img style="width: 100%;height: 100%" src="../assets/images/registration.jpg"> </li>
        <li> <img style="width: 100%;height: 100%" src="../assets/images/search.jpeg"> </li>
        <li> <img style="width: 100%;height: 100%" src="../assets/images/apply.jpg"> </li>
        <li> <img style="width: 100%;height: 100%" src="../assets/images/find.jpeg"> </li>
      </ul>
    </div>
    <div class="container">
      <ul id="css3dimagePager">
        <li class="list-group-item list-group-item-success">Register</li>
        <li class="list-group-item list-group-item-danger">Search Jobs</li>
        <li class="list-group-item list-group-item-warning">Apply</li>
        <li class="list-group-item list-group-item-primary">Get The dream Job</li>
      </ul>
      <button type="button" class="btn btn-basic btn-arrow-right">Info</button>
      <button type="button" class="btn btn-info btn-arrow-right">Warning</button>
      <button type="button" class="btn btn-primary btn-arrow-right">Danger</button>
      <button type="button" class="btn btn-success btn-arrow-right">Danger</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-container">
        <table class="table table-filter">
          <tbody>

            <tr>
              <td>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <h4 class="title">Lorem Impsum</h4>
                    </mat-panel-title>
                    <mat-panel-description>This is a summary of the content</mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-action-row>
                    <button class="btn btn-primary pull-right pagado">Apply</button>
                  </mat-action-row>
                  <p>This is the primary content of the panel.</p>
                </mat-expansion-panel>
              </td>
            </tr>

            <tr>
              <td>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <h4 class="title">Lorem Impsum</h4>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-action-row>
                    <button class="btn btn-primary pull-right pagado">Apply</button>
                  </mat-action-row>
                  <mat-panel-description>This is a summary of the content</mat-panel-description>
                  <p>This is the primary content of the panel.</p>
                </mat-expansion-panel>
              </td>
            </tr>

            <tr>
              <td>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <h4 class="title">Lorem Impsum</h4>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-action-row>
                    <button class="btn btn-primary pull-right pagado">Apply</button>
                  </mat-action-row>
                  <mat-panel-description>This is a summary of the content</mat-panel-description>
                  <p>This is the primary content of the panel.</p>
                </mat-expansion-panel>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
