<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



<div class="container-fluid">
  <app-header></app-header>

  <div id="sidebar">
      <div class="col-md-12 table-bordered">
        <h3>Latest Opening </h3>
        <ul class="list-unstyled">
          <marquee direction="up" scrollamount="4">
          <li><a href="#">Node js Developer</a></li>
          <li><a href="#">MEAN Stack Developer</a></li>
          <li><a href="#">Angular Js Developer</a></li>
          <li><a href="#">Database administrative</a></li>
          <li><a href="#">Linux</a></li>
          <li><a href="#">Php Developer</a></li>
          <li><a href="#">BlockChain Developer</a></li>
          </marquee>
        </ul>
      </div>

      <div class="col-md-12 table-bordered margin-top">
        <h3>Important Dates</h3>
        <ul class="list-unstyled">
          <marquee direction="up" scrollamount="4">
          <li><a href="#">Neet 2019 Forms Available</a></li>
          <li><a href="#">JEE Mains Cut off out</a></li>
          <li><a href="#">IITs Admision Date</a></li>
          <li><a href="#">DRDO Entrance </a></li>
          <li><a href="#">BHEL Jobs</a></li>
          <li><a href="#">National Scholarship Form</a></li>
          </marquee>
        </ul>
      </div>
  </div>


    <div class="container-fluid">
        <div class="container">
          <div id="css3dimageslider" class="transparency">
            <ul>
              <li> <img style="width: 100%;height: 100%" src="../assets/images/registration.jpg"> </li>
              <li> <img style="width: 100%;height: 100%" src="../assets/images/search.jpeg"> </li>
              <li> <img style="width: 100%;height: 100%" src="../assets/images/apply.jpg"> </li>
              <li> <img style="width: 100%;height: 100%" src="../assets/images/find.jpeg"> </li>
            </ul>
          </div>
        </div>
        <div class="container">
          <!-- <ul id="css3dimagePager">
            <li class="list-group-item list-group-item-success">Register</li>
            <li class="list-group-item list-group-item-danger">Search Jobs</li>
            <li class="list-group-item list-group-item-warning">Apply</li>
            <li class="list-group-item list-group-item-primary">Get The dream Job</li>
          </ul> -->
          <div class="container-fluid text-center" id="css3dimagePager">
            <div class="sonar-wrapper inline">
            	<div class="sonar-emitter1">
                <div class="sonar-wave1"></div>
              </div>
            </div>
            <div class="sonar-wrapper inline">
              <div class="sonar-emitter">
                <div class="sonar-wave"></div>
              </div>
            </div>
            <div class="sonar-wrapper inline">
            	<div class="sonar-emitter2">
                <div class="sonar-wave2"></div>
              </div>
            </div>
            <div class="sonar-wrapper inline">
            	<div class="sonar-emitter3">
                <div class="sonar-wave3"></div>
              </div>
            </div>
          </div>

        </div>

    </div>



      <div class="panel panel-default apply">
        <div class="panel-body">
          <div class="table-container">
            <table class="table table-filter">
              <tbody>

                <tr>
                  <td>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <h4 class="title">Lorem Impsum</h4>
                        </mat-panel-title>
                        <p class="pull-right cusMargin">This is a summary of the content</p>
                      </mat-expansion-panel-header>
                      <mat-action-row>
                        <button class="btn btn-primary pull-right pagado">Apply</button>
                      </mat-action-row>
                      <p>This is the primary content of the panel.</p>
                    </mat-expansion-panel>
                  </td>
                </tr>

                <tr>
                  <td>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <h4 class="title">Lorem Impsum</h4>
                        </mat-panel-title>
                        <p class="pull-right cusMargin">This is a summary of the content</p>
                      </mat-expansion-panel-header>
                      <mat-action-row>
                        <button class="btn btn-primary pull-right pagado">Apply</button>
                      </mat-action-row>
                      <p>This is the primary content of the panel.</p>
                    </mat-expansion-panel>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <h4 class="title">Lorem Impsum</h4>
                        </mat-panel-title>
                        <p class="pull-right cusMargin">This is a summary of the content</p>
                      </mat-expansion-panel-header>
                      <mat-action-row>
                        <button class="btn btn-primary pull-right pagado">Apply</button>
                      </mat-action-row>
                      <p>This is the primary content of the panel.</p>
                    </mat-expansion-panel>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>


  </div>
  <app-footer></app-footer>
