#css3dimagePager, #css3dtransparency {
	text-align: center;
	position: relative;
	z-index: 11;
	padding: 10px 0 10px;
	margin: 0;
}
#css3dimagePager li {
	padding-right: 2em;
	display: inline-block;
	cursor: pointer;
}
#css3dimagePager li.active, #css3dtransparency.active {
	font-weight: bold;
}
#css3dimageslider {
	-webkit-perspective: 1000;
	-moz-perspective: 1000px;
	-ms-perspective: 1000;
	perspective: 1000;
	-webkit-perspective-origin: 50% 100px;
	-moz-perspective-origin: 50% 100px;
	-ms-perspective-origin: 50% 100px;
	perspective-origin: 50% 100px;
	margin: 40px auto 20px auto;
	width: 100%;
	height: 350px;
}
#css3dimageslider ul {
	position: relative;
	margin: 0 auto;
	height: 281px;
	width: 680px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 50% 100px 0;
	-moz-transform-origin: 50% 100px 0;
	-ms-transform-origin: 50% 100px 0;
	transform-origin: 50% 100px 0;
	-webkit-transition: all 1.0s ease-in-out;
	-moz-transition: all 1.0s ease-in-out;
	-ms-transition: all 1.0s ease-in-out;
	transition: all 1.0s ease-in-out;
}
#css3dimageslider ul li {
	position: absolute;
	height: 281px;
	width: 680px;
	padding: 0px;
}
#css3dimageslider ul li:nth-child(1) {
	-webkit-transform: translateZ(340px);
	-moz-transform: translateZ(340px);
	-ms-transform: translateZ(340px);
	transform: translateZ(340px);
}
#css3dimageslider ul li:nth-child(2) {
	-webkit-transform: rotateY(90deg) translateZ(340px);
	-moz-transform: rotateY(90deg) translateZ(340px);
	-ms-transform: rotateY(90deg) translateZ(340px);
	transform: rotateY(90deg) translateZ(340px);
}
#css3dimageslider ul li:nth-child(3) {
	-webkit-transform: rotateY(180deg) translateZ(340px);
	-moz-transform: rotateY(180deg) translateZ(340px);
	-ms-transform: rotateY(180deg) translateZ(340px);
	transform: rotateY(180deg) translateZ(340px);
}
#css3dimageslider ul li:nth-child(4) {
	-webkit-transform: rotateY(-90deg) translateZ(340px);
	-moz-transform: rotateY(-90deg) translateZ(340px);
	-ms-transform: rotateY(-90deg) translateZ(340px);
	transform: rotateY(-90deg) translateZ(340px);
}
#css3dimageslider.transparency img {
	opacity: 0.8;
}




.btn {
   margin-top: 5px;
}
.btn-arrow-right{
	width: 200px;
   position: relative;
   padding-left: 18px;
   padding-right: 18px;
}
.btn-arrow-right {
   padding-left: 36px;
}
.btn-arrow-right:before,
.btn-arrow-right:after {
   content: "";
   position: absolute;
   top: 5px;
   width: 22px;
   height: 22px;
   background: inherit;
   border: inherit;
   border-left-color: transparent;
   border-bottom-color: transparent;
   border-radius: 0px 4px 0px 0px;
   -webkit-border-radius: 0px 4px 0px 0px;
   -moz-border-radius: 0px 4px 0px 0px;
}
.btn-arrow-right:before,
.btn-arrow-right:after {
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
}
.btn-arrow-right:before {
   left: -11px;
}
.btn-arrow-right:after {
   right: -11px;
}
.btn-arrow-right:after {
   z-index: 1;
}

.btn-arrow-right:before{
   background-color: white;
}




/* Make it looks good on CodePen */
html {
  background-color: #cef;
}
html, body, .sonar-wrapper {
  height: 50%;
}

/* Prevent scrollbars to appear when waves go out of bound */
.sonar-wrapper {
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 8rem 0;
}

/* The circle */
.sonar-emitter {
  position: relative;
  margin: 0 auto;
  width: 25px;
  height: 25px;
  border-radius: 9999px;
  background-color: HSL(70,80%,50%);
}

/* the 'wave', same shape and size as its parent */
.sonar-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: HSL(70,80%,50%);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

/* The circle */
.sonar-emitter1 {
  position: relative;
  margin: 0 auto;
  width: 25px;
  height: 25px;
  border-radius: 9999px;
  background-color: hsl(200, 40%, 50%);
}

/* the 'wave', same shape and size as its parent */
.sonar-wave1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: hsl(200, 40%, 50%);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

/* The circle */
.sonar-emitter2 {
  position: relative;
  margin: 0 auto;
  width: 25px;
  height: 25px;
  border-radius: 9999px;
  background-color: HSL(0,100%,50%);
}

/* the 'wave', same shape and size as its parent */
.sonar-wave2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: HSL(0,100%,50%);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

/* The circle */
.sonar-emitter3 {
  position: relative;
  margin: 0 auto;
  width: 25px;
  height: 25px;
  border-radius: 9999px;
  background-color: HSL(220,90%,50%);
}

/* the 'wave', same shape and size as its parent */
.sonar-wave3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: HSL(220,90%,50%);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}
.inline{
	display: inline-block;
	padding: 2%;
}
#sidebar {
	width: inherit;
	min-width: 220px;
	max-width: 220px;
	float: left;
	height:50%;
	position:relative;
	overflow-y:auto;
	overflow-x:hidden;
	display: list-item;
	margin: 10px;
}
.margin-top {
	margin-top: 20px;
}
#sidebar-right {
	width: inherit;
	min-width: 220px;
	max-width: 220px;
	float: right;
	height:50%;
	position:relative;
	overflow-y:auto;
	overflow-x:hidden;
	display: list-item;
	margin: 10px;
}
.apply {
	width: 70%;
	float: left;
	margin-left: 20%;
}
.cusMargin {
	margin: 10px;
}

/*
  Animate!
  NOTE: add browser prefixes where needed.
*/
.sonar-wave {
  animation: sonarWave 2s linear infinite;
}
.sonar-wave1 {
  animation: sonarWave 2s linear infinite;
}
.sonar-wave2 {
  animation: sonarWave 2s linear infinite;
}
.sonar-wave3 {
  animation: sonarWave 2s linear infinite;
}

@keyframes sonarWave {
  from {
    opacity: 0.4;
  }
  to {
    transform: scale(3);
    opacity: 0;
  }
}
